:root {
  --background: #111827;
  --foreground: #FFFFFF;
  --card: #1F2937;
  --card-foreground: #FFFFFF;
  --popover: #1F2937;
  --popover-foreground: #F8FAFC;
  --primary: #14B8A6;
  --primary-foreground: #111111;
  --secondary: #1F2937;
  --secondary-foreground: #FFFFFF;
  --muted: #BE185D;
  --muted-foreground: #FFFFFF;
  --accent: #2563EB;
  --accent-foreground: #FFFFFF;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --border: #1f2937;
  --input: #374151;
  --ring: #2563EB;
  --radius: 0.5rem;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #111827;
  --foreground: #FFFFFF;
  --card: #1F2937;
  --card-foreground: #FFFFFF;
  --popover: #1F2937;
  --popover-foreground: #F8FAFC;
  --primary: #14B8A6;
  --primary-foreground: #111111;
  --secondary: #1F2937;
  --secondary-foreground: #FFFFFF;
  --muted: #BE185D;
  --muted-foreground: #FFFFFF;
  --accent: #2563EB;
  --accent-foreground: #FFFFFF;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --border: #1f2937;
  --input: #374151;
  --ring: #2563EB;
}
